body,html{
	background-color: black;
	background-image: url('images/day_y.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	background-size: cover;
}
	
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  min-height: 100%;
  position: relative;
}

.v-box{
    vertical-align: middle;
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
	flex-direction: column;
	text-align: center;
}


#TOP,#Middle,#Bottom{
    display: -webkit-flex;
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

a, a:visited { text-decoration: none; color: #ffffff; }
a:hover { text-decoration: none; color: #ffffff; }
a:link { text-decoration: none; color: #ffffff; }

/*Settings of all cells*/
#frame {
	float: left;
	padding: 0px 2px 4px 2px;
	flex-basis:19%;
	height: 25%;
}

/*Settings of buienradar and camera cells, 1.5 times the normal cell width*/
#bigframe {
	float: left;
	padding: 0px 2px 0px 2px;
	flex-basis:28.5%;
}


/*Settings of date cell, three times a normal cell*/
#dateframe {
	float: left;
	padding: 0px 2px 0px 2px;
	flex-basis:58%;
}


/*bigger screen*/
@media only screen and (max-width: 990px) {
	/*Settings of all cells*/
	#frame {
		flex-basis:32%;
	}
	#bigframe{
		flex-basis:65%;
	}
	#dateframe {
		flex-basis:95%;
		order:99;
	}
}

/*small screen*/
@media only screen and (max-width: 540px) {
	/*Settings of all cells*/
	#frame, #bigframe, #dateframe {
		flex-basis:95%;
	}
	#TOP{
		order:2;
	}
	#Middle{
		order:1;
	}
	#Bottom{
		order:3;
	}
}

/*Last updated area*/
#ls_cell1, #ls_cell1a, #ls_cell2, #ls_cell2a, #ls_cell3, #ls_cell4, #ls_cell4a,
#ls_cell5, #ls_cell5a, #ls_cell6, #ls_cell7, #ls_cell8, #ls_cell9,
#ls_cell10, #ls_cell11, #ls_cell12, #ls_cell13, #ls_cell14,
#ls_cell15, #ls_cell16, #ls_cell17, #ls_cell18, #ls_cell19,
#ls_cell20, #ls_cell21, #ls_cell22, #ls_cell23, #ls_cell24, #ls_cell25, 
#ls_cell2_1, #ls_cell2_1a, #ls_cell2_2, #ls_cell2_2a, #ls_cell2_3, #ls_cell2_4, #ls_cell2_4a,
#ls_cell2_5, #ls_cell2_5a, #ls_cell2_6, #ls_cell2_7, #ls_cell2_8, #ls_cell2_9,
#ls_cell2_10, #ls_cell2_11, #ls_cell2_12, #ls_cell2_13, #ls_cell2_14,
#ls_cell2_15, #ls_cell2_16, #ls_cell2_17, #ls_cell2_18, #ls_cell2_19,
#ls_cell2_20, #ls_cell2_21, #ls_cell2_22, #ls_cell2_23, #ls_cell2_24, #ls_cell2_25
 {
	font-family: arimo;
	font-weight: normal;
	text-transform: uppercase;
	color: #333333;
	font-size: 0.75em;
	margin-top: 0px; /*-27px */
	height: 0px; /*27px */
	line-height: 140%; /*68px */
	position: relative;
	z-index: 40;
}

#ls_cell1a,#ls_cell2a,#ls_cell4a,#ls_cell5a,#ls_cell2_1a,#ls_cell2_2a,#ls_cell2_4a,#ls_cell2_5a{
	line-height: 200%;
}

/*Description area, overlay over the main cell*/
#desc_cell1, #desc_cell2, #desc_cell3, #desc_cell4,
#desc_cell5, #desc_cell6, #desc_cell7, #desc_cell8, #desc_cell9,
#desc_cell10, #desc_cell12, #desc_cell13, #desc_cell14,
#desc_cell15, #desc_cell16, #desc_cell17, #desc_cell18, #desc_cell19,
#desc_cell20, #desc_cell21,  #desc_cell23, #desc_cell24, #desc_cell25, 
#desc_cell2_1, #desc_cell2_2, #desc_cell2_3, #desc_cell2_4,
#desc_cell2_5, #desc_cell2_6, #desc_cell2_7, #desc_cell2_8, #desc_cell2_9,
#desc_cell2_10, #desc_cell2_11, #desc_cell2_12, #desc_cell2_13, #desc_cell2_14,
#desc_cell2_15, #desc_cell2_16, #desc_cell2_17, #desc_cell2_18, #desc_cell2_19,
#desc_cell2_20, #desc_cell2_21, #desc_cell2_23, #desc_cell2_24, #desc_cell2_25,#desc_cell11
 {
	font-family: arimo;
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 0.8em;
	margin-top: -20px;
	height: 20px;
	line-height: 20px;
	background: #444444;
	opacity: 1;
	position: relative;
	z-index: 20;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
}

#desc_cell25{
	z-index: 0;
}

/*Main content including black border*/
#cell1, #cell2, #cell4, #cell5, 
#cell6, #cell7, #cell8, #cell9, #cell10, 
#cell12, #cell13, #cell14, #cell15, 
#cell16, #cell17, #cell18, #cell19, #cell20, 
#cell21, #cell22, #cell23,
#cell2_1, #cell2_2, #cell2_4, #cell2_5, 
#cell2_6, #cell2_7, #cell2_8, #cell2_9, #cell2_10, 
#cell2_11, #cell2_12, #cell2_13, #cell2_14, #cell2_15, 
#cell2_16, #cell2_17, #cell2_18, #cell2_19, #cell2_20, 
#cell2_21, #cell2_22, #cell2_23,#cell3, #cell25,
#cell2_3, #cell2_25,#cell11
{
	font-family: arimo, serif;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px;
	border: 1px solid #666;
	height: 55px;
	line-height: 45px; 	
	color: #333333 !important;
	font-size: 2em;	
	//-webkit-border-radius: 5px 5px 5px 5px;
	//border-radius: 5px 5px 5px 5px;	
	position: relative;
	cursor: pointer;
	z-index: 10;
	background: rgba(238, 238, 238, .7);
}

/*low screen*/
@media only screen and (max-height: 590px) {
	#cell1, #cell2, #cell4, #cell5, 
	#cell6, #cell7, #cell8, #cell9, #cell10, 
	#cell12, #cell13, #cell14, #cell15, 
	#cell16, #cell17, #cell18, #cell19, #cell20, 
	#cell21, #cell22, #cell23,
	#cell2_1, #cell2_2, #cell2_4, #cell2_5, 
	#cell2_6, #cell2_7, #cell2_8, #cell2_9, #cell2_10, 
	#cell2_11, #cell2_12, #cell2_13, #cell2_14, #cell2_15, 
	#cell2_16, #cell2_17, #cell2_18, #cell2_19, #cell2_20, 
	#cell2_21, #cell2_22, #cell2_23,#cell3, #cell25,
	#cell2_3, #cell2_25,#cell11
	{
		padding: 5px;
		height: 60px;
	}
}

/* very low screen*/
@media only screen and (max-height: 570px) {
	#cell1, #cell2, #cell4, #cell5, 
	#cell6, #cell7, #cell8, #cell9, #cell10, 
	#cell12, #cell13, #cell14, #cell15, 
	#cell16, #cell17, #cell18, #cell19, #cell20, 
	#cell21, #cell22, #cell23,
	#cell2_1, #cell2_2, #cell2_4, #cell2_5, 
	#cell2_6, #cell2_7, #cell2_8, #cell2_9, #cell2_10, 
	#cell2_11, #cell2_12, #cell2_13, #cell2_14, #cell2_15, 
	#cell2_16, #cell2_17, #cell2_18, #cell2_19, #cell2_20, 
	#cell2_21, #cell2_22, #cell2_23,#cell3, #cell25,
	#cell2_3, #cell2_25,#cell11
	{
		padding: 2px;
		height: 60px;
	}
}




/*Special settings for the camera cells*/
#cell3, #cell25,
#cell2_3, #cell2_25
{
	padding: 0px;
	height: 256px;	
	line-height: 210px; 		  	   
	color: #c0c0c0 !important;
	line-height: 210px;
	margin-top: 4px;
}

/*Special settings for the higher cells*/
#cell1, #cell2, #cell4, #cell5,
#cell2_1, #cell2_2, #cell2_4, #cell2_5
{
	padding: 0px;
	height: 125px;	
	line-height: 95px; 
	cursor: not-allowed; 
	margin-top: 4px;
}

/*Settings of the subcells*/
#cell1a, #cell1b, #cell2a, #cell2b, #cell4a, #cell4b, #cell5a, #cell5b,
#cell2_1a, #cell2_1b, #cell2_2a, #cell2_2b, #cell2_4a, #cell2_4b, #cell2_5a, #cell2_5b
{
	font-family: arimo, serif;
	font-weight: bold;
	text-transform: uppercase;
	margin: -15px 0px 60px 0px;
	color: #333333 !important;
	font-size: 1em;
	position: relative;
	z-index:20;
	height: 0px;
}

#cell22,
#cell2_22 
{ 
	font-size: 22px;
	line-height: 35px;
}

#popup_switch, #popup_protected, #popup_camera, #popup_camera1, #popup_camera2, #popup_camera3
{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 100%;
    margin-top: -100px;  
	margin-left: -80px;	
    padding: 10px;
    border: 2px #c0c0c0;
    background: #333;
    z-index:1002;
    overflow:visible;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 25px;
	color: #c0c0c0;
	line-height: 75px;
	text-align: center;	
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;	
}
#popup_camera, #popup_camera1, #popup_camera2, #popup_camera3
{
    max-width: 640px;
    height: 480px;
    margin-left: -325px;
    margin-top: -245px;                 
}
#fade
{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
.camera
{
  background: url(offline.jpg) no-repeat;
  -moz-opacity: 0.7;
  opacity:.70;
  filter: alpha(opacity=70);
  background-size: 272px 216px;
  max-width: 270px;
  max-height: 216px;
}

html[webkit-version*='534.3'] .v-box{
	display: initial;
	display: inline-box;
}

html[webkit-version*='534.3'] #frame {
	width:19.55%;
}
html[webkit-version*='534.3'] #bigframe {
	width:29.5%;
}

html[webkit-version*='534.3']	#dateframe {
	width:59.65%;
}
