@import url('frontpage.css');

.v-box{
    display: initial;
	display: inline-box;
}

#TOP,#Middle,#Bottom{
    display: initial;
	display: inline-box;
}

/*Settings of all cells*/
#frame {
	min-width:19%;
}

/*Settings of buienradar and camera cells, 1.5 times the normal cell width*/
#bigframe {
	min-width:28.5%;
}
/*Settings of date cell, three times a normal cell*/
#dateframe {
	min-width:58%;
}
